numpy
streamlit==1.43.0
st-click-detector
streamlit_option_menu
streamlit_code_editor
colour
st_forna_component
biopython
ViennaRNA
deap
matplotlib
pytest
st-oxview
streamlit-shortcuts
git+https://github.com/lorenzo-rovigatti/oxDNA.git#subdirectory=analysis
st-copy-to-clipboard